{% extends 'layout.html' %}
{% load static %}

{% block 'main' %}
<div class="row">
    <div class="col-md-8">
         <h4 class="bg-dark text-white ">Order Details</h4>
        {% for cart in mycart %}
        <div class="row m-1" style="border: rgb(18, 18, 17) solid 2px;" >
          <div class="col-md-6">
             <img src="{{ c.sid.pimage.url }}" class="card-img-top" alt="..." >
        </div>
        <div class="col-md-6">
                <h5 class="card-title"> Name:{{ c.sid.name }}</h5>
                <p> <strong>Brand: {{ c.sid.branch }}</strong></p>
                <p> <strong>Price: {{ c.sid.percent }}Rs</strong></p>
                {% if c.quantity > 1 %}
                {% endif %}
                <strong> {{ c.quantity }}</strong>
               
        </div>
    </div>
        {% endfor %}
        <div class="col-md-4">
            <h5 class="bg-dark text-white ">Bill Details</h5>
            <strong style="color: rgb(30, 29, 29);"> Total Items: </strong> {{count}} <br><br>
            <strong> Bill:  </strong> Rs. {{total}} <br><br>
            <a href="/makepayment"><button class="btn btn-dark">Make payment</button></a>

        </div>
</div>

{% endblock 'main' %}