<div class="row m-2" >
    <div class="col-md-2" style="background-color: #eae8e7;">
      <h5><a href="">All products</a> </h5>
      <br>
      <h5>Filter Products</h5>
      <h6>By Top Brand </h6>
      <a href="/index">All</a><br>
      <a href="/filterbybranch/Britania">britania</a><br>
      <a href="/filterbybranch/parle">PARLE</a><br>
      <a href="/filterbybranch/sunfeast">sunfeast</a><br>
      <!-- <h5>Sort students by percentage </h5>
      <a href="/sort/0">Low to High</a><br>
      <a href="/sort/1">High to low</a><br>
      <h5>Range of percentage </h5>
      <form action="/range" class="m-1" >
        Min: <input type="text" name="min" width="50px"><br>
        Max: <input type="text" name="max"><br>
        <input type="submit" class="btn btn-primary" value="search">
      </form> -->
    </div>
    <div class="col-md-10"  >